body {
    background-color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color:  #006847; color: white;
    width: fit-content;
    padding: 10px;
}

article {
    background-color: #ce1126; color: white;
    width: fit-content;
    padding: 10px;
}

section {
    background-color: #006847; color: white;
    width: fit-content;
    padding: 10px;
}

aside {
    background-color: #ce1126; color: white;
    width: fit-content;
    padding: 10px;
}

footer {
    background-color: #006847; color: white;
    width: fit-content;
    padding: 10px;
}