.reunukset {
    border-style:solid;
    border-color: white;
}

body {
    background-color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


a:link {
    color: white;
}

a:visited {
    color:white;
}

* {
    box-sizing: border-box;
  }

#otsikko {
    font-size: xx-large;
    background-color:#ce1126;
    text-align: center;
}

#linkit {
    float: left;
    width: 20%;
    color: white;
    padding: 10px;    
}

#tietoa {
    float: right;
    width: 80%;
    background-color: #006847;
    padding: 10px;
}

